@model IEnumerable<TVCommon.ViewModels.CreateArtigoViewMmodel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link href="~/css/bootstrap-tagsinput.css" rel="stylesheet" />
<div><img class="main-images" src="Imagens/programmer.jpg" /></div>




@Html.Partial("~/Views/Article/_ArticlesPartial.cshtml", Model)

@section Scripts{

    <script src="~/js/bootstrap-tagsinput.js"></script>
    @*<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=sons-of-obsidian"></script>*@
<script src="~/js/prettify.js"></script>
    @*    <script type="text/javascript">

$(document).ready(function () {
            $('.art-body').each(function () {
                var content = $(this).text().replace('comecaaqui', '<pre class="prettyprint linenums">');
                var zcontent = content.replace('terminaaqui', '</pre>');
                $(this).html(zcontent);
            })
        }); </script>*@
}