@model IEnumerable<TVCommon.ViewModels.CreateArtigoViewMmodel>
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/bootstrap-tagsinput.min.css" rel="stylesheet" />
<div><img class="main-images" src="Imagens/programmer.jpg" /></div>




@Html.Partial("~/Views/Article/_ArticlesPartial.cshtml", Model)




@section Scripts{ 
<script src="~/js/bootstrap-tagsinput.min.js"></script>
}
    
