<!DOCTYPE html>
<html ng-controller="HomeController">
<head>
    <title ng-bind="models.helloAngular"></title>
</head>
<body>
    <input type="text" ng-model="models.helloAngular" />
    <h1>{{models.helloAngular}}</h1>

    @*<script src="~/Scripts/Angular/angular.js"></script>
    <script src="~/Scripts/Angular/angular-route.js"></script>
    <script src="~/Scripts/Bootstrap/jquery-1.9.0.js"></script>
    <script src="~/Scripts/Controllers/HomeController.js"></script>
    <script src="~/Scripts/InterfaceCore.js"></script>*@
</body>
</html>

