@model IEnumerable<TVCommon.ViewModels.CreateArtigoViewMmodel>

@{
    ViewData["Title"] = "Articles";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/css/bootstrap-tagsinput.css" rel="stylesheet" />
<h2>Articles</h2>

@Html.Partial("_ArticlesPartial", Model)

@section Scripts{

    <script src="~/js/bootstrap-tagsinput.js"></script>
    <script src="~/js/prettify.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            $('.art-body').each(function () {
                var content = $(this).text();
                $(this).html(content);
            });
        }); </script>
}