@model IEnumerable<TVCommon.ViewModels.CreateArtigoViewMmodel>

@{
    ViewData["Title"] = "Articles";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/css/bootstrap-tagsinput.min.css" rel="stylesheet" />
<h2>Articles</h2>

@Html.Partial("_ArticlesPartial", Model)

@section Scripts{

    <script src="~/js/bootstrap-tagsinput.min.js"></script>



}